<div class="container-fluid">
    <form>
        <div class="form-group m-4">
            <h4>Register</h4>
        </div>
        <div class="form-group mx-4 col col-lg-4 col-md-6">
            <label for="firstName">First name</label>
            <input type="email" class="form-control form-control-sm" id="firstName">
        </div>
        <div class="form-group mx-4 mt-2 col col-lg-4 col-md-6">
            <label for="lastName">Last name</label>
            <input type="email" class="form-control form-control-sm" id="lastName">
        </div>
        <div class="form-group mx-4 mt-2 col col-lg-4 col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control form-control-sm" id="email">
        </div>
        <div class="form-group mx-4 mt-2 col col-lg-4 col-md-6">
            <label for="password">Password</label>
            <input type="password" class="form-control form-control-sm" id="password">
        </div>
        <div class="form-group mx-4 mt-2 col col-lg-4 col-md-6">
            <label for="confirmedPassword">Confirm password</label>
            <input type="password" class="form-control form-control-sm" id="confirmedPassword">
            <span>
                <i class="fa fa-regular fa-eye-slash"></i>
            </span>
        </div>
        <button type="submit" class="btn btn-primary ms-4 mt-3">Submit</button>
    </form>

    <nav class="navbar fixed-bottom bg-body-tertiary">
        <div class="container-fluid justify-content-center">
            <a class="navbar-brand" href="#">Written by Martin Stoyanov, April 2025</a>
        </div>
    </nav>
</div>
