<div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-body-tertiary mx-4">
        <div class="container-fluid">
            <a class="navbar-brand heading">
                <img src="login-24.png" width="24" height="24" class="d-inline-block align-text-top me-3">
                Login
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav nav">
                    <li class="nav-item">
                        <a routerLink="/register" class="nav-link">Register</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/forgot-password" class="nav-link">Forgot password</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="m-4">
        <p>Login, or create an account.</p>
        <p>Bootstrap 5, Angular 21, Java 26 and Spring Boot 4 SPA with JWT login.</p>
    </div>

    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="mx-4 col col-lg-4 col-md-6">
            <div class="input-group">
                <span class="input-group-text">
                    <i class="fa-regular fa-envelope"></i>
                </span>
                <input type="email" class="form-control form-control-sm" id="email" name="email" [(ngModel)]="user.email" #email="ngModel" placeholder="email"
                       required email>
                @if (email.invalid && email.touched) {
                    @if (email.hasError('required')) {
                        <div class="alert alert-danger alert-small mt-2">
                            Email is required
                        </div>
                    }
                    @if (email.hasError('email')) {
                        <div class="alert alert-danger alert-small mt-2">
                            Email is invalid
                        </div>
                    }
                }
            </div>
        </div>
        <div class="mx-4 mt-2 col col-lg-4 col-md-6">
            <div class="input-group">
                <span class="input-group-text">
                    <i class="fa-solid fa-key"></i>
                </span>
                <input [type]="passwordIsVisible ? 'text' : 'password'" class="form-control form-control-sm" id="password" name="password"
                       [(ngModel)]="user.password" #password="ngModel" placeholder="password" required minlength="6">
                <span class="input-group-text" (click)="showPassword()">
                    <i [ngClass]="passwordIsVisible ? 'fa-regular fa-eye' : 'fa-regular fa-eye-slash'"></i>
                </span>
            </div>
            @if (password.invalid && password.touched) {
                @if (password.hasError('required')) {
                    <div class="alert alert-danger alert-small mt-2">
                        Password is required
                    </div>
                }
                @if (password.hasError('minlength')) {
                    <div class="alert alert-danger alert-small mt-2">
                        Password min length is 6 characters
                    </div>
                }
            }
            @if (loginForm.valid && loginError) {
                <div class="alert alert-danger alert-small mt-2">
                    Invalid credentials
                </div>
            }
        </div>
        <button type="submit" class="btn btn-primary mx-4 mt-3" [disabled]="loginForm.invalid">Login</button>
    </form>

    <nav class="navbar fixed-bottom bg-body-tertiary">
        <div class="container-fluid justify-content-center">
            <a class="navbar-brand" href="#">Written by Martin Stoyanov, March 2026</a>
        </div>
    </nav>
</div>
