<div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-body-tertiary mx-4">
        <div class="container-fluid">
            <a class="navbar-brand heading">Forgot password</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav nav">
                    <li class="nav-item">
                        <a routerLink="/login" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/register" class="nav-link">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h2 class="mt-4 text-center">TODO</h2>
</div>
