<div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-body-tertiary mx-4">
        <div class="container-fluid">
            <a class="navbar-brand heading">
                <img src="forgot-password-24.png" width="24" height="24" class="d-inline-block align-text-top me-3">
                Forgot password
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav nav">
                    <li class="nav-item">
                        <a routerLink="/login" class="nav-link">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="m-4">
        <p>Enter your email, a password reset link will be emailed to you.</p>
        <p>Click it within 15 minutes, to reset your password.</p>
    </div>

    <form (ngSubmit)="onSubmit()" #passwordResetForm="ngForm">
        <div class="mx-4 mt-4 col col-lg-4 col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control form-control-sm" id="email" name="email" [(ngModel)]="user.email" #email="ngModel" required email>
            @if (email.invalid && email.touched) {
                @if (email.hasError('required')) {
                    <div class="alert alert-danger alert-small mt-2">
                        Email is required
                    </div>
                }
                @if (email.hasError('email')) {
                    <div class="alert alert-danger alert-small mt-2">
                        Email is invalid
                    </div>
                }
            }
        </div>
        <button type="submit" class="btn btn-primary btn-sm mx-4 mt-3" [disabled]="passwordResetForm.invalid">Reset</button>
    </form>

    <nav class="navbar fixed-bottom bg-body-tertiary">
        <div class="container-fluid justify-content-center">
            <a class="navbar-brand" href="#">Written by Martin Stoyanov, March 2026</a>
        </div>
    </nav>
</div>
